body {
  padding-top: 70px;
}

/* HERO */
.hero-section {
  background: linear-gradient(
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url("https://images.unsplash.com/photo-1451187580459-43490279c0fa")
      center/cover no-repeat;

  min-height: 60vh;
}

/* Section spacing */
section h2 {
  font-weight: 700;
}

/* Card hover */
.card {
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}
